@import '_vars';

.service{
  
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proudly{
  background-image: url('../assets/black-flowers-background.png');
}
.equipment{
  background-image: url('../assets/blue-pattern-background.png');
}
.training{
  background-image: url('../assets/blueSky-pattern-background.png');
  
}
.service > img{
  width: 250px;
  height: auto;
}
.service-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-text > h2{
  color: white;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}
.service-text > p{
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.offer{
background-color: $banner-colors;
padding: 35px 25px;
}
.offer-text > h2{
  color: black;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
.offer-text > p{
  color: black;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
}
.offers{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.offers > img{
  width: 250px;
  height: auto;
  margin-top: 40px;
}
.offers > h2{
  color: black;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
.offers > p{
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}
.equipment{
  background-image: url(../assets/blue-pattern-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-section{
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}
.form-section > form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 35px;
  max-width: 400px;
}
.form-text-wrap > h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.form-text-wrap > p{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.form-section > form > input{
  width: 95%;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 15px;
}
.form-section > form > textarea{
  width: 95%;
  height: 80px;
  padding-left: 10px;
  margin-bottom: 15px;
  padding-top: 10px;
}